<li>
	{{burger_name}}

	{{#if devoured}}
	{{else}}
	<button class="change-devour" data-id="{{this.id}}" data-newBurgerEat="{{this.devoured}}">
		EAT DAT BURGER?!?!
	</button>
	{{/if}}

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
